/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #f3f3f3;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle1 {
  margin-top:10px;
  font-family: Crimson !important;
  font-size: 70px !important;
  line-height: 70px;
  color: #787878;
}

.heroTitle2 {
  font-family: Montserrat !important;
  font-size: 70px !important;
  line-height: 70px;
  font-weight: 700;
  color: #000000;
  margin-top:10px;
  margin-bottom:10px;
}

.btnGetStarted {
  background-color: #000000;
  color: white !important;
  transition: all 0.3s ease;
}

.btnGetStarted:hover {
  background-color: #654fe0;
}

.contactCard {
  background-color: #654fe0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.txtContact {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
}

.btnContact {
  background-color: #f3f3f3;
  color: #000000;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0px 3px 15px -0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btnContact:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 960px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroItemRow {
    flex-direction: column !important;
  }

  .heroInfoColumn {
    justify-content: center !important;
    align-items: center !important;
  }

  .heroDescrip {
    margin-top: 20px;
    text-align: center !important;
  }

  .btnGetStarted {
    margin-top: 20px;
  }

  .heroImg {
    margin-top: 50px;
  }

  .contactRow {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .txtContact {
    text-align: center !important;
  }

  .btnContact {
    margin-top: 20px;
  }
}
